<a href="https://colab.research.google.com/github/duongphannamhung/Portfolio/blob/main/Segment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import streamlit as st
from datetime import datetime as dt #-> Để xử lý data dạng datetime
import numpy as np
import pandas as pd #-> Để update data dạng bản
import seaborn as sns
import csv,ast
from ast import literal_eval

# A. Xử lí dữ liệu thô

## 1. Lấy mẫu ngẫu nhiên của 40% khách hàng

In [ ]:
_7_12=pd.read_csv('_7_12.csv')
_1234=pd.read_csv('_1234.csv')
_56=pd.read_csv('_56.csv')

_list=[_1234,_56,_7_12]
_1_7=pd.concat(_list)
_1_7=_1_7[(_1_7['event_name'].str.contains('erp_item_order_completed'))|(_1_7['event_name'].str.contains('erp_order_completed'))]
_1_7

,Unnamed: 0,Unnamed: 0.1,id,tenant_id,anonymous_id,event_name,session_id,scope,identity.keys,identity.vals,str_properties.keys,str_properties.vals,num_properties.keys,num_properties.vals,arr_properties.keys,arr_properties.vals,tags.keys,tags.vals,at
0,0,0,1vFycbSJUJd9zmNDr4mOPg94wun,1,1ucePm7Pz2uGSmecm6xa6nKO7GZ,erp_item_order_completed,e6720b55-e378-41da-bce3-2e8e5aeb8759,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['5f2a7f37-415b-41f9-b507-31a6da981cc8', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32512.0, 695000.0, 695000.0, 1.0, 10.0, 6950...",[],[],[],[],2021-02-04 19:55:43
1,1,1,1vG1xYFIRRxw0OVvVlSLwLgrCnJ,1,1ucePm7Pz2uGSmecm6xa6nKO7GZ,erp_item_order_completed,4a4091cc-f086-4018-b721-7dc1ca1da6ab,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['5f2a7f37-415b-41f9-b507-31a6da981cc8', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32768.0, 750000.0, 750000.0, 1.0, 10.0, 7500...",[],[],[],[],2021-02-04 19:55:43
2,2,2,1ufsRZnszAtOp1YcgYLCOfyiJ9i,1,1ucePm7Pz2uGSmecm6xa6nKO7GZ,erp_order_completed,74ca7374-e3b4-438d-9c35-64a8fea419e1,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['5f2a7f37-415b-41f9-b507-31a6da981cc8', 'page...","['properties.total_value', 'properties.discoun...","[1300500.0, 0.0]","['properties.voucher', 'properties.products_id...","[[], ['AKK01108WCO02G11001', 'ALS61308WMO02J61...",[],[],2021-02-04 19:55:43
3,3,3,1vFzQxUh21kJa46XtWeMvJvHcu3,1,1uceVnbCo2TkCU8Z8UzSBjb7sp2,erp_item_order_completed,3711fff2-6096-475b-ab50-31a82ad25312,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['eddd0bfc-8d93-416e-912e-957f264fe89b', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32512.0, 125000.0, 125000.0, 1.0, 10.0, 1250...",[],[],[],[],2021-02-04 20:47:13
4,4,4,1vG1qY4kGaUYzub4yp936Tt0IDp,1,1uceVnbCo2TkCU8Z8UzSBjb7sp2,erp_item_order_completed,7df43729-0907-4ee4-b230-05f3f3be435e,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['eddd0bfc-8d93-416e-912e-957f264fe89b', 'page...","['properties.ln', 'properties.so_luong', 'prop...","[-32256.0, 1.0, -32256.0, 0.28]",[],[],[],[],2021-02-04 20:47:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533715,86796,86796,1vDyo3nDrZ2yc0EygcYgtc4vR7y,1,1vDxt9v2zI12K47WV4KB1ZhklAD,erp_item_order_completed,59818d8c-29f8-4c39-b7c3-8e140510b936,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['42382df9-6f52-4a98-b533-84b926a9192d', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32512.0, 159000.0, 159000.0, 1.0, 16233.0, 1...",[],[],[],[],2020-12-21 18:59:11
533716,86797,86797,1vDyqCVn5W0XsLkO0vTzJcfwFQ5,1,1vDyqFnPumxmAOk2dj67QCLQjSw,erp_item_order_completed,a85ce93e-dfa4-42bb-b6d5-ddd4dbdb2a04,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['e2e0f9b3-98a5-46fc-bd7e-4014daa19a2f', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32512.0, 345000.0, 345000.0, 1.0, 50.0, 1725...",[],[],[],[],2020-12-21 10:22:21
533717,86798,86798,1vE018dpai7StBi8ZWwVVYvIKeh,1,1vDyqFnPumxmAOk2dj67QCLQjSw,erp_item_order_completed,7a2bde29-fe46-4ab3-8ba9-b98a1f83502a,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['e2e0f9b3-98a5-46fc-bd7e-4014daa19a2f', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32768.0, 265000.0, 265000.0, 1.0, 50.0, 1325...",[],[],[],[],2020-12-21 10:22:21
533718,86799,86799,1vE018AklLgPO0HT05o3tt6uChg,1,1vDyqFnPumxmAOk2dj67QCLQjSw,erp_item_order_completed,041226ce-25b7-43ec-9a8e-d9795a9532fe,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['e2e0f9b3-98a5-46fc-bd7e-4014daa19a2f', 'page...","['properties.ln', 'properties.so_luong', 'prop...","[-32768.0, 1.0, -32768.0]",[],[],[],[],2020-12-21 10:22:21
533719,86800,86800,1vDzOLRoQwENVL82nqdZ7MYt3C4,1,1vDzO96imAFPPRnNHkkwC08iyr3,erp_item_order_completed,7b040c74-ba04-49b6-91ae-f04a90daa229,JS-1smzufM4qGODr70luE4aPXxHLIN,[],[],"['source.itemId', 'source.itemType', 'target.i...","['41d281e9-fd22-467d-a0ca-b502ca6e029c', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32768.0, 550000.0, 550000.0, 1.0, 10.0, 5500...",[],[],[],[],2020-12-21 16:28:24

In [ ]:
_1_7.groupby(['anonymous_id','event_name']).count()

                                                      Unnamed: 0  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed           9
                            erp_order_completed               14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed          23
                            erp_order_completed                8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed           4
...                                                          ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed           1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed           1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed           3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed           1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed           4

                                                      Unnamed: 0.1  id  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed             9   9
                            erp_order_completed                 14  14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed            23  23
                            erp_order_completed                  8   8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed             4   4
...                                                            ...  ..
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed             1   1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed             1   1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed             3   3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed             1   1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed             4   4

                                                      tenant_id  session_id  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed          9           9
                            erp_order_completed              14          14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed         23          23
                            erp_order_completed               8           8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed          4           4
...                                                         ...         ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed          1           1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed          1           1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed          3           3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed          1           1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed          4           4

                                                      scope  identity.keys  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed      9              9
                            erp_order_completed          14             14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed     23             23
                            erp_order_completed           8              8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed      4              4
...                                                     ...            ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed      1              1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed      1              1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed      3              3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed      1              1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed      4              4

                                                      identity.vals  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed              9
                            erp_order_completed                  14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed             23
                            erp_order_completed                   8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed              4
...                                                             ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed              1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed              1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed              3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed              1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed              4

                                                      str_properties.keys  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      str_properties.vals  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      num_properties.keys  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      num_properties.vals  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      arr_properties.keys  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      arr_properties.vals  \
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed                    9
                            erp_order_completed                        14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed                   23
                            erp_order_completed                         8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed                    4
...                                                                   ...
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed                    1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed                    1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed                    3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed                    1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed                    4

                                                      tags.keys  tags.vals  at
anonymous_id                event_name
1sna5cVKZkIqycIG1ITlUVUunpk erp_item_order_completed          9          9   9
                            erp_order_completed              14         14  14
1sne8XN27JiyvKLMwPKqp4eEEfo erp_item_order_completed         23         23  23
                            erp_order_completed               8          8   8
1sp9KvoMMAumifOroLdhM4w7McV erp_item_order_completed          4          4   4
...                                                         ...        ...  ..
1vKZ9fNwyIGEjpn66xJvsionMmo erp_item_order_completed          1          1   1
1vKbQY3CwCLmYeLJzc32uOhwaYH erp_item_order_completed          1          1   1
1vKgjzvUaKNJlhDnye3YmBSaMs2 erp_item_order_completed          3          3   3
1vKgmwlmtcci5M5jWDLKhyQ26p5 erp_item_order_completed          1          1   1
1vKgy6MryLv8z2lrXVIT6Xl4UYF erp_item_order_completed          4          4   4

[347966 rows x 17 columns]

In [ ]:
# Import dữ liệu của tháng 1 đến tháng 7.2021

#Extract 40% anonymous_id from data sample
import random
# Xác định số lượng của 40% khách hàng
unique_customer=_1_7['anonymous_id'].unique().tolist()
n_randome=round((len(_1_7['anonymous_id'].unique())*40)/100)
# Lấy random 40% trong tổng số khách
cus_id_rand40=random.sample(unique_customer,n_randome)
rand40=pd.DataFrame(cus_id_rand40).rename(columns={0:'anonymous_id'})

#Merge into data event
data_40=rand40.merge(_1_7,how='left',on='anonymous_id')
data_=data_40.drop(columns=['Unnamed: 0','Unnamed: 0.1'])
data=data_.drop_duplicates().replace('[]',np.nan)
print('Tổng số khác hàng:',len(_1_7['anonymous_id'].unique()))
print('Số lượng 40% khách hàng: ',len(cus_id_rand40))
data.head(2)

Tổng số khác hàng: 210258
Số lượng 40% khách hàng:  84103

,anonymous_id,id,tenant_id,event_name,session_id,scope,identity.keys,identity.vals,str_properties.keys,str_properties.vals,num_properties.keys,num_properties.vals,arr_properties.keys,arr_properties.vals,tags.keys,tags.vals,at
0,1udfXQKFJhzP9O0BEGCKcb7kplY,1vIONBVGABlcBWJl2Fh2LaqO8je,1,erp_item_order_completed,a811c264-d84e-49ba-b322-b033d3d08cb5,JS-1smzufM4qGODr70luE4aPXxHLIN,NaN,NaN,"['source.itemId', 'source.itemType', 'target.i...","['47ac5dfa-4f6d-4419-8494-62ef0a6bdba6', 'page...","['properties.ln', 'properties.gia_ban', 'prope...","[-32768.0, 725000.0, 725000.0, 1.0, 5.0, 36250...",NaN,NaN,NaN,NaN,2021-04-24 20:16:24
1,1udfXQKFJhzP9O0BEGCKcb7kplY,1ugICG101JwUGUFwMfii7tf9I1o,1,erp_order_completed,89b21ed1-ce25-41b3-b1ed-9ad423bf5f1d,JS-1smzufM4qGODr70luE4aPXxHLIN,NaN,NaN,"['source.itemId', 'source.itemType', 'target.i...","['47ac5dfa-4f6d-4419-8494-62ef0a6bdba6', 'page...","['properties.discount_value', 'properties.tota...","[0.0, 688750.0]","['properties.voucher', 'properties.products_id...","[[], ['ASS080S1WMO15M08006'], ['ASS080S1WMO15M...",NaN,NaN,2021-04-24 20:16:24

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395825 entries, 0 to 395859
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   anonymous_id         395825 non-null  object
 1   id                   395825 non-null  object
 2   tenant_id            395825 non-null  int64
 3   event_name           395825 non-null  object
 4   session_id           395825 non-null  object
 5   scope                395825 non-null  object
 6   identity.keys        0 non-null       float64
 7   identity.vals        0 non-null       float64
 8   str_properties.keys  395825 non-null  object
 9   str_properties.vals  395825 non-null  object
 10  num_properties.keys  395825 non-null  object
 11  num_properties.vals  395825 non-null  object
 12  arr_properties.keys  106919 non-null  object
 13  arr_properties.vals  106919 non-null  object
 14  tags.keys            0 non-null       float64
 15  tags.vals            0 non-null       float64
 16  at                   395825 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 54.4+ MB

# B. explore data đơn hàng

## 1. Xuất dữ liệu từ source ERP để phân tích

In [ ]:

data_df=data.drop(columns=['tenant_id','session_id','identity.keys','identity.vals','tags.keys','tags.vals','scope']).reset_index()
erp_df1=data_df[(data_df['event_name'].str.contains('erp_item_order_completed'))|(data_df['event_name'].str.contains('erp_order_completed'))]

In [ ]:
tesst=erp_df1[['anonymous_id','event_name']]
_count=tesst.groupby('anonymous_id').agg({"event_name": "nunique"}).reset_index()
_count

                      anonymous_id  event_name
0      1tOCNrWzHeYG4XUiSsHi3o7ktLo           2
1      1tPTUwuJRsecSA8ODfTyzuWoPFK           2
2      1tTD9ys2PL7A9TQmhfvViR36ft4           1
3      1u0dnlYEnpHKVBq5zQqwTFfwciD           1
4      1uSwoCnKLAjvCM35ehAe1ujcJne           1
...                            ...         ...
84098  1vKGl7SwRRIOlNIR2nT35neqEvE           1
84099  1vKJCQxtBmnHDEbCaHQIiannRab           1
84100  1vKOMC3oHYZpeUJapqzZKTgAw6J           1
84101  1vKPC4uOHRIbZY4S9CUEQhncH2M           1
84102  1vKZ9fNwyIGEjpn66xJvsionMmo           1

[84103 rows x 2 columns]

In [ ]:
_count_df=_count[_count['event_name']==2]
list_cus=_count_df['anonymous_id'].unique().tolist()

In [ ]:
erp_df=erp_df1[erp_df1['anonymous_id'].isin(list_cus)]
erp_df.groupby(['anonymous_id','event_name']).count()

                                                      index  id  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed      4   4
                            erp_order_completed           1   1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed      4   4
                            erp_order_completed           2   2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed     18  18
...                                                     ...  ..
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed           4   4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed      1   1
                            erp_order_completed           2   2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed      2   2
                            erp_order_completed           1   1

                                                      str_properties.keys  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    4
                            erp_order_completed                         1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    4
                            erp_order_completed                         2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                   18
...                                                                   ...
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    1
                            erp_order_completed                         2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    2
                            erp_order_completed                         1

                                                      str_properties.vals  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    4
                            erp_order_completed                         1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    4
                            erp_order_completed                         2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                   18
...                                                                   ...
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    1
                            erp_order_completed                         2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    2
                            erp_order_completed                         1

                                                      num_properties.keys  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    4
                            erp_order_completed                         1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    4
                            erp_order_completed                         2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                   18
...                                                                   ...
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    1
                            erp_order_completed                         2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    2
                            erp_order_completed                         1

                                                      num_properties.vals  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    4
                            erp_order_completed                         1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    4
                            erp_order_completed                         2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                   18
...                                                                   ...
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    1
                            erp_order_completed                         2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    2
                            erp_order_completed                         1

                                                      arr_properties.keys  \
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    0
                            erp_order_completed                         1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    0
                            erp_order_completed                         2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                    0
...                                                                   ...
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    0
                            erp_order_completed                         2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    0
                            erp_order_completed                         1

                                                      arr_properties.vals  at
anonymous_id                event_name
1tOCNrWzHeYG4XUiSsHi3o7ktLo erp_item_order_completed                    0   4
                            erp_order_completed                         1   1
1tPTUwuJRsecSA8ODfTyzuWoPFK erp_item_order_completed                    0   4
                            erp_order_completed                         2   2
1uceNvxZlVpHWjKbbvzXEFviHun erp_item_order_completed                    0  18
...                                                                   ...  ..
1ugfwTP8xyYP1j5nTpwuWMSR6do erp_order_completed                         4   4
1ugg3jJiwySJLwLqX9izwZMjNbR erp_item_order_completed                    0   1
                            erp_order_completed                         2   2
1ujjHhyKxoCPcjXUEtvcT6zJrM1 erp_item_order_completed                    0   2
                            erp_order_completed                         1   1

[110350 rows x 9 columns]

### 2.1. Tách các trường chứa chuỗi thành các dòng

### Chuyển dữ liệu dạng text thành dạng list []

In [ ]:
def literal_return(val):
    try:
        return ast.literal_eval(val)
    except ValueError:
        return (val)
erp_df['str_properties.vals']=erp_df['str_properties.vals'].apply(literal_return)
erp_df['str_properties.keys']=erp_df['str_properties.keys'].apply(literal_return)
erp_df['num_properties.keys']=erp_df['num_properties.keys'].apply(literal_return)
erp_df['num_properties.vals']=erp_df['num_properties.vals'].apply(literal_return)

<ipython-input-11-88fc4a8be3a9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erp_df['str_properties.vals']=erp_df['str_properties.vals'].apply(literal_return)
<ipython-input-11-88fc4a8be3a9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erp_df['str_properties.keys']=erp_df['str_properties.keys'].apply(literal_return)
<ipython-input-11-88fc4a8be3a9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erp_df['num_properties.keys']=erp_df['num_properties.keys'].apply(literal_return)
<ipython-input-11-88fc4a8be3a9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erp_df['num_properties.vals']=erp_df['num_properties.vals'].apply(literal_return)

### 2.2 Chia dữ liệu thành 2 nhóm: 
- Dạng string chứa: str_properties.keys, str_properties.vals
- Dạng numeric chứa: num_properties.keys, num_properties.vals

In [ ]:
data_str=erp_df[['id','anonymous_id','event_name','str_properties.keys','str_properties.vals','at']]
# data_str=data_str.drop_duplicates()
data_str_df=data_str.set_index(['id','anonymous_id','event_name','at']).apply(lambda x: x.apply(pd.Series).stack()).reset_index()

In [ ]:
data_str_df=data_str_df.drop(columns='level_4').rename(columns={'str_properties.keys':'keys','str_properties.vals':'vals'})

In [ ]:
data_str_df.head()

,id,anonymous_id,event_name,at,keys,vals
0,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,source.itemId,47ac5dfa-4f6d-4419-8494-62ef0a6bdba6
1,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,source.itemType,page
2,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,target.itemId,47ac5dfa-4f6d-4419-8494-62ef0a6bdba6
3,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,target.itemType,erp-import
4,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,properties.stt_rec,K1000000003494675BL2

In [ ]:
data_str_df=data_str_df.rename(columns={'str_properties.keys':'keys','str_properties.vals':'vals'})

data_str_df.groupby('anonymous_id').count()

                               id  event_name    at  keys  vals
anonymous_id
1tOCNrWzHeYG4XUiSsHi3o7ktLo   229         229   229   229   229
1tPTUwuJRsecSA8ODfTyzuWoPFK   267         267   267   267   267
1uceNvxZlVpHWjKbbvzXEFviHun  1253        1253  1253  1253  1253
1uceO2fUwo8z0RwEZ4EsRPszGBM   454         454   454   454   454
1uceOCYpPk81ACaoUEShgaEp2pZ   841         841   841   841   841
...                           ...         ...   ...   ...   ...
1ugYnDYzImzOc9X626KULKKEd7X   212         212   212   212   212
1ugbLZeYy5mj0uPzrRqvANPujFF   278         278   278   278   278
1ugfwTP8xyYP1j5nTpwuWMSR6do   395         395   395   395   395
1ugg3jJiwySJLwLqX9izwZMjNbR    74          74    74    74    74
1ujjHhyKxoCPcjXUEtvcT6zJrM1    99          99    99    99    99

[55175 rows x 5 columns]

In [ ]:
data_num=erp_df[['id','anonymous_id','event_name','num_properties.keys','num_properties.vals','at']]
data_num_df=data_num.set_index(['id','anonymous_id','event_name','at']).apply(lambda x: x.apply(pd.Series).stack()).reset_index()
data_num_df=data_num_df.drop(columns='level_4').rename(columns={'num_properties.keys':'keys','num_properties.vals':'vals'})
data_num_df.head(2)

,id,anonymous_id,event_name,at,keys,vals
0,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,properties.ln,-32768.0
1,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,properties.gia_ban,725000.0

In [ ]:
data_num_df.groupby('anonymous_id').count()

                              id  event_name   at  keys  vals
anonymous_id
1tOCNrWzHeYG4XUiSsHi3o7ktLo   30          30   30    30    30
1tPTUwuJRsecSA8ODfTyzuWoPFK   42          42   42    42    42
1uceNvxZlVpHWjKbbvzXEFviHun  148         148  148   148   148
1uceO2fUwo8z0RwEZ4EsRPszGBM   74          74   74    74    74
1uceOCYpPk81ACaoUEShgaEp2pZ  121         121  121   121   121
...                          ...         ...  ...   ...   ...
1ugYnDYzImzOc9X626KULKKEd7X   21          21   21    21    21
1ugbLZeYy5mj0uPzrRqvANPujFF   39          39   39    39    39
1ugfwTP8xyYP1j5nTpwuWMSR6do   64          64   64    64    64
1ugg3jJiwySJLwLqX9izwZMjNbR   12          12   12    12    12
1ujjHhyKxoCPcjXUEtvcT6zJrM1   12          12   12    12    12

[55175 rows x 5 columns]

## 2. Phân tích các feature

In [ ]:
# số lượng order của mỗi khách
erp_order_str=data_str_df[data_str_df['event_name'].isin(['erp_order_completed'])]
erp_order_str_pivot=erp_order_str.pivot(index=['id','anonymous_id','event_name','at'],columns='keys',values='vals').reset_index()
erp_order_str_pivot=erp_order_str_pivot.replace(np.nan,0)
erp_order_str_pivot

keys,id,anonymous_id,event_name,at,properties.currency,properties.order,properties.order_status,properties.user_id,properties.user_phone,source.itemId,source.itemType,target.itemId,target.itemType
0,1ueLPpjJ6t0MbJhqf2ajqrf9st6,1uceT4agTTCaL78euCyEyp5RzWz,erp_order_completed,2020-07-01 12:47:01,VND,000320001959,Hoàn thành,559585,0915151774,71160a7e-76e4-432f-b249-f2018a70060f,page,71160a7e-76e4-432f-b249-f2018a70060f,erp-import
1,1ueLPuQkNHSbWJWDxpBHzYdC8xv,1uceSR2RU9eqbxfeZqIs9127Ep7,erp_order_completed,2020-07-01 09:37:40,VND,000320001958,Hoàn thành,537441,0398891919,b25a5f52-ccec-4af5-8cb5-2a7dd7571a10,page,b25a5f52-ccec-4af5-8cb5-2a7dd7571a10,erp-import
2,1ueLQ1gPQydSfWDvcfGJBItuzjR,1uceR7kU6pMqp6xYLyamd40he4J,erp_order_completed,2020-07-01 21:45:14,VND,000320001964,Hoàn thành,533349,0979104540,9045c25c-0254-44ce-bce2-e40af3331b1f,page,9045c25c-0254-44ce-bce2-e40af3331b1f,erp-import
3,1ueLQ3vGm6mslMNaYR0MsKsyMNN,1uceTsG9ycD7hM2ygY1rjvyEvxb,erp_order_completed,2020-07-01 11:15:39,VND,000420001793,Hoàn thành,344109,0915522522,271bd2cd-9006-44ae-a6b9-b185448ec39e,page,271bd2cd-9006-44ae-a6b9-b185448ec39e,erp-import
4,1ueLQ5P5Ft0X2q1g0EceBehGNn6,1uceP8jtfBIybh3NZgDWeoQnNLQ,erp_order_completed,2020-07-01 10:50:58,VND,000420001792,Hoàn thành,560046,0986806547,fe3ead70-de17-48a2-abfb-f24d5deeb26e,page,fe3ead70-de17-48a2-abfb-f24d5deeb26e,erp-import
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97646,1vZcd9HD55M7E2iODjjVYDHzMHL,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2020-09-19 09:30:29,VND,007820000292,Hoàn thành,533780,0968618682,6bab98a6-7c64-4e4b-b883-eb59a36283d0,page,6bab98a6-7c64-4e4b-b883-eb59a36283d0,erp-import
97647,1vZcdENyZDy0gYl8bDsMF2yffAP,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-04-03 18:35:27,VND,BL078210400020,Hoàn thành,533780,0968618682,6bab98a6-7c64-4e4b-b883-eb59a36283d0,page,6bab98a6-7c64-4e4b-b883-eb59a36283d0,erp-import
97648,1vZcdF4Ld1nI1Op6TzluWo7ncFe,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2020-11-14 09:02:43,VND,OLT220007013,Hoàn thành,559477,0968618683,6bab98a6-7c64-4e4b-b883-eb59a36283d0,page,6bab98a6-7c64-4e4b-b883-eb59a36283d0,erp-import
97649,1vZcdF5rnTscSZVWoKzMiAJMe4w,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-02-03 17:03:46,VND,BL078210200034,Hoàn thành,533780,0968618682,6bab98a6-7c64-4e4b-b883-eb59a36283d0,page,6bab98a6-7c64-4e4b-b883-eb59a36283d0,erp-import
97650,1vZcdHnnXaeqGleeGKbiYtcisxx,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-02-02 20:36:33,VND,BL078210200023,Hoàn thành,533780,0968618682,6bab98a6-7c64-4e4b-b883-eb59a36283d0,page,6bab98a6-7c64-4e4b-b883-eb59a36283d0,erp-import

In [ ]:
erp_order_num=data_num_df[data_num_df['event_name'].isin(['erp_order_completed'])]
erp_order_num_pivot=erp_order_num.pivot(index=['id','anonymous_id','event_name','at'],columns='keys',values='vals').reset_index()
erp_order_num_pivot=erp_order_num_pivot.replace(np.nan,0)
erp_order_num_pivot

keys,id,anonymous_id,event_name,at,properties.discount_value,properties.total_value
0,1ueLPpjJ6t0MbJhqf2ajqrf9st6,1uceT4agTTCaL78euCyEyp5RzWz,erp_order_completed,2020-07-01 12:47:01,65000.0,585000.0
1,1ueLPuQkNHSbWJWDxpBHzYdC8xv,1uceSR2RU9eqbxfeZqIs9127Ep7,erp_order_completed,2020-07-01 09:37:40,0.0,712500.0
2,1ueLQ1gPQydSfWDvcfGJBItuzjR,1uceR7kU6pMqp6xYLyamd40he4J,erp_order_completed,2020-07-01 21:45:14,0.0,1000000.0
3,1ueLQ3vGm6mslMNaYR0MsKsyMNN,1uceTsG9ycD7hM2ygY1rjvyEvxb,erp_order_completed,2020-07-01 11:15:39,0.0,525000.0
4,1ueLQ5P5Ft0X2q1g0EceBehGNn6,1uceP8jtfBIybh3NZgDWeoQnNLQ,erp_order_completed,2020-07-01 10:50:58,0.0,295000.0
...,...,...,...,...,...,...
97646,1vZcd9HD55M7E2iODjjVYDHzMHL,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2020-09-19 09:30:29,250000.0,1195000.0
97647,1vZcdENyZDy0gYl8bDsMF2yffAP,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-04-03 18:35:27,0.0,617500.0
97648,1vZcdF4Ld1nI1Op6TzluWo7ncFe,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2020-11-14 09:02:43,0.0,695000.0
97649,1vZcdF5rnTscSZVWoKzMiAJMe4w,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-02-03 17:03:46,0.0,63000.0
97650,1vZcdHnnXaeqGleeGKbiYtcisxx,1ucs492TuIiTCz5NrrY2HsL6uSl,erp_order_completed,2021-02-02 20:36:33,0.0,1480500.0

In [ ]:
erp_order_df=erp_order_str_pivot.merge(erp_order_num_pivot,how='left',on=['id','anonymous_id','event_name','at'])
erp_order_df.columns=erp_order_df.columns.str.replace('properties.',"")
erp_order_df=erp_order_df[['anonymous_id','at','order','total_value','discount_value']]
erp_order_df

keys,anonymous_id,at,order,total_value,discount_value
0,1uceT4agTTCaL78euCyEyp5RzWz,2020-07-01 12:47:01,000320001959,585000.0,65000.0
1,1uceSR2RU9eqbxfeZqIs9127Ep7,2020-07-01 09:37:40,000320001958,712500.0,0.0
2,1uceR7kU6pMqp6xYLyamd40he4J,2020-07-01 21:45:14,000320001964,1000000.0,0.0
3,1uceTsG9ycD7hM2ygY1rjvyEvxb,2020-07-01 11:15:39,000420001793,525000.0,0.0
4,1uceP8jtfBIybh3NZgDWeoQnNLQ,2020-07-01 10:50:58,000420001792,295000.0,0.0
...,...,...,...,...,...
97646,1ucs492TuIiTCz5NrrY2HsL6uSl,2020-09-19 09:30:29,007820000292,1195000.0,250000.0
97647,1ucs492TuIiTCz5NrrY2HsL6uSl,2021-04-03 18:35:27,BL078210400020,617500.0,0.0
97648,1ucs492TuIiTCz5NrrY2HsL6uSl,2020-11-14 09:02:43,OLT220007013,695000.0,0.0
97649,1ucs492TuIiTCz5NrrY2HsL6uSl,2021-02-03 17:03:46,BL078210200034,63000.0,0.0
97650,1ucs492TuIiTCz5NrrY2HsL6uSl,2021-02-02 20:36:33,BL078210200023,1480500.0,0.0

### Lần mua hàng gần nhất

In [ ]:

erp_order_df['at']=pd.to_datetime(erp_order_df['at'])
last_order=erp_order_df.groupby('anonymous_id').agg({'at': np.max}).reset_index().sort_values('anonymous_id')

### Tổng số tiền mua hàng

In [ ]:
sales=erp_order_df.groupby('anonymous_id').agg({'total_value': sum}).sort_values('anonymous_id').reset_index()
sales=sales.rename(columns={'total_value':'M'})

### Tần suất mua hàng

In [ ]:
count_order=erp_order_df.groupby('anonymous_id').order.count().reset_index().sort_values('anonymous_id')
count_order=count_order.rename(columns={'order':'F'})

### Discount theo đơn hàng

In [ ]:
discount_order=erp_order_df.groupby('anonymous_id').discount_value.sum().reset_index().sort_values('anonymous_id')
discount_order

                      anonymous_id  discount_value
0      1tOCNrWzHeYG4XUiSsHi3o7ktLo             0.0
1      1tPTUwuJRsecSA8ODfTyzuWoPFK             0.0
2      1uceNvxZlVpHWjKbbvzXEFviHun             0.0
3      1uceO2fUwo8z0RwEZ4EsRPszGBM        200000.0
4      1uceOCYpPk81ACaoUEShgaEp2pZ        380000.0
...                            ...             ...
55170  1ugYnDYzImzOc9X626KULKKEd7X             0.0
55171  1ugbLZeYy5mj0uPzrRqvANPujFF             0.0
55172  1ugfwTP8xyYP1j5nTpwuWMSR6do             0.0
55173  1ugg3jJiwySJLwLqX9izwZMjNbR             0.0
55174  1ujjHhyKxoCPcjXUEtvcT6zJrM1             0.0

[55175 rows x 2 columns]

### Discount theo item sản phẩm

In [ ]:
#pivot dữ liệu numberic của nhóm item_order
erp_item_num=data_num_df[data_num_df['event_name'].isin(['erp_item_order_completed'])]
# 
# Tính tổng chiết khấu theo sản phẩm
erp_item_ck=erp_item_num[(erp_item_num['keys']=='properties.t_tien_sau_ck')|(erp_item_num['keys'].str.contains('gia_ban'))|(erp_item_num['keys'].str.contains('so_luong'))]
erp_item_num_pivot=erp_item_ck.pivot(index=['id','anonymous_id','event_name','at'],columns='keys',values='vals').reset_index()

# Tính tổng chiết khấu: số lượng x giá bán - tổng tiền sau chiết khấu
erp_item_num_pivot['tong_ck']=(erp_item_num_pivot['properties.gia_ban']*erp_item_num_pivot['properties.so_luong']-erp_item_num_pivot['properties.t_tien_sau_ck'])
erp_item_num_pivot_=erp_item_num_pivot[['anonymous_id','tong_ck']]
item_ck=erp_item_num_pivot.groupby('anonymous_id').tong_ck.sum().reset_index().sort_values('anonymous_id')

In [ ]:
item_ck=item_ck.rename(columns={'tong_ck':'D'})
item_ck

                      anonymous_id          D
0      1tOCNrWzHeYG4XUiSsHi3o7ktLo  2240000.0
1      1tPTUwuJRsecSA8ODfTyzuWoPFK   578000.0
2      1uceNvxZlVpHWjKbbvzXEFviHun   127500.0
3      1uceO2fUwo8z0RwEZ4EsRPszGBM   379000.0
4      1uceOCYpPk81ACaoUEShgaEp2pZ   545250.0
...                            ...        ...
55169  1ugYnDYzImzOc9X626KULKKEd7X        0.0
55170  1ugbLZeYy5mj0uPzrRqvANPujFF   117250.0
55171  1ugfwTP8xyYP1j5nTpwuWMSR6do    26250.0
55172  1ugg3jJiwySJLwLqX9izwZMjNbR        0.0
55173  1ujjHhyKxoCPcjXUEtvcT6zJrM1        0.0

[55174 rows x 2 columns]

## Xác định R,F,M,D

In [ ]:
data_frames=[sales,count_order,last_order,item_ck]
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['anonymous_id'],
                                            how='outer'), data_frames)

In [ ]:
df_merged

,anonymous_id,M,F,at,D
0,1tOCNrWzHeYG4XUiSsHi3o7ktLo,960000.0,1,2021-06-28 21:11:16,2240000.0
1,1tPTUwuJRsecSA8ODfTyzuWoPFK,1362000.0,2,2021-04-24 15:38:39,578000.0
2,1uceNvxZlVpHWjKbbvzXEFviHun,5047500.0,8,2021-03-12 21:19:56,127500.0
3,1uceO2fUwo8z0RwEZ4EsRPszGBM,1430000.0,3,2020-07-21 17:05:13,379000.0
4,1uceOCYpPk81ACaoUEShgaEp2pZ,4549750.0,5,2021-06-08 14:38:25,545250.0
...,...,...,...,...,...
55170,1ugYnDYzImzOc9X626KULKKEd7X,840000.0,1,2021-06-29 17:16:37,0.0
55171,1ugbLZeYy5mj0uPzrRqvANPujFF,2439250.0,3,2020-11-27 21:38:41,117250.0
55172,1ugfwTP8xyYP1j5nTpwuWMSR6do,3693750.0,4,2021-02-06 20:45:02,26250.0
55173,1ugg3jJiwySJLwLqX9izwZMjNbR,950000.0,2,2021-06-02 10:28:50,0.0
55174,1ujjHhyKxoCPcjXUEtvcT6zJrM1,495000.0,1,2020-08-15 08:59:57,0.0

###  Loại nhóm id đến từ các giao dịch nội bộ

In [ ]:
item_str_id=data_str_df[data_str_df['event_name'].str.contains('erp_item_order_completed')]
item_str_id

,id,anonymous_id,event_name,at,keys,vals
0,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,source.itemId,47ac5dfa-4f6d-4419-8494-62ef0a6bdba6
1,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,source.itemType,page
2,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,target.itemId,47ac5dfa-4f6d-4419-8494-62ef0a6bdba6
3,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,target.itemType,erp-import
4,1vIONBVGABlcBWJl2Fh2LaqO8je,1udfXQKFJhzP9O0BEGCKcb7kplY,erp_item_order_completed,2021-04-24 20:16:24,properties.stt_rec,K1000000003494675BL2
...,...,...,...,...,...,...
17350494,1vHK83gVRNCdTQgoDZa3zyWZ5i4,1udZ1FRH5jCw2qw1cv1zGhUUwz4,erp_item_order_completed,2021-03-25 17:05:29,properties.ma_ss_qly,KG5512
17350495,1vHK83gVRNCdTQgoDZa3zyWZ5i4,1udZ1FRH5jCw2qw1cv1zGhUUwz4,erp_item_order_completed,2021-03-25 17:05:29,properties.ten_ss_qly,Emily Pierce
17350496,1vHK83gVRNCdTQgoDZa3zyWZ5i4,1udZ1FRH5jCw2qw1cv1zGhUUwz4,erp_item_order_completed,2021-03-25 17:05:29,properties.ngay_xk,2021-03-25T00:00:00
17350497,1vHK83gVRNCdTQgoDZa3zyWZ5i4,1udZ1FRH5jCw2qw1cv1zGhUUwz4,erp_item_order_completed,2021-03-25 17:05:29,properties.account_id,289036
17350498,1vHK83gVRNCdTQgoDZa3zyWZ5i4,1udZ1FRH5jCw2qw1cv1zGhUUwz4,erp_item_order_completed,2021-03-25 17:05:29,properties.ten_kh2,Emily Pierce

In [ ]:
_nh_vt9=item_str_id[item_str_id['keys'].str.contains('properties.nh_vt7')]
nh_vt9=_nh_vt9.groupby(['anonymous_id','vals']).count().reset_index().sort_values(by='id')
nh_vt9_pivot=nh_vt9.pivot_table(index='anonymous_id',columns='vals',values='id').reset_index().replace(np.nan,0)
nh_vt9_pivot.info()
# nh_vt9[nh_vt9['vals'].isin(['N07-PHULIEU','N07-NGUYENLIEU','N07-CCDC'])]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33933 entries, 0 to 33932
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   anonymous_id     33933 non-null  object
 1   N07-CCDC         33933 non-null  float64
 2   N07-DOLOT        33933 non-null  float64
 3   N07-DONGPHUC     33933 non-null  float64
 4   N07-KHAKI        33933 non-null  float64
 5   N07-LINKPHUKIEN  33933 non-null  float64
 6   N07-PHUKIEN      33933 non-null  float64
 7   N07-QUANAU       33933 non-null  float64
 8   N07-QUANJEAN     33933 non-null  float64
 9   N07-QUATANG      33933 non-null  float64
 10  N07-SOMI         33933 non-null  float64
 11  N07-TAT          33933 non-null  float64
 12  N07-THUDONG      33933 non-null  float64
 13  N07-VEST-SUITS   33933 non-null  float64
 14  N07-XUANHE       33933 non-null  float64
dtypes: float64(14), object(1)
memory usage: 3.9+ MB

In [ ]:
nh_vt9=_nh_vt9.groupby(['anonymous_id','vals']).count().reset_index().sort_values(by='id')
nh_vt9_ccdc=nh_vt9[nh_vt9['vals'].isin(['N7-CCDC','N07-CCDC'])]
nh_vt9_ccdcd=nh_vt9_ccdc.merge(sales,how='left',on='anonymous_id')
nh_vt9_ccdcd

,anonymous_id,vals,id,event_name,at,keys,M
0,1tOCNrWzHeYG4XUiSsHi3o7ktLo,N07-CCDC,1,1,1,1,960000.0
1,1udKFcnyct8RxVB3piKJqTQctsb,N07-CCDC,1,1,1,1,3295000.0
2,1udKCNSgp16TpmXEG0lXnut9vzL,N07-CCDC,1,1,1,1,2600000.0
3,1udKDhCatNq8tQGXW80M4yfwskP,N07-CCDC,1,1,1,1,1140500.0
4,1udKCsG01TAXBYh4VorktjHaYOh,N07-CCDC,1,1,1,1,4905000.0
...,...,...,...,...,...,...,...
4674,1udllq14ykAHNEDD1CzB5b0AhCL,N07-CCDC,13,13,13,13,0.0
4675,1ucialL2PDTJ9ENhv9WQHhoFxj7,N07-CCDC,13,13,13,13,29870513.0
4676,1uckFa1qNF7sClDw2Kb2wUT4G7s,N07-CCDC,13,13,13,13,12675900.0
4677,1ucek1rDkG595fLgdAYBIkWJ5sW,N07-CCDC,14,14,14,14,33214000.0
4678,1ud8kLayV4dHVvazJg2evY1CHr0,N07-CCDC,17,17,17,17,44397850.0

In [ ]:
rmf_after_remove=df_merged[df_merged['anonymous_id'].isin(nh_vt9_ccdcd['anonymous_id'].unique().tolist())==False]
rmf_after_remove

                      anonymous_id          M  F                  at         D
1      1tPTUwuJRsecSA8ODfTyzuWoPFK  1362000.0  2 2021-04-24 15:38:39  578000.0
2      1uceNvxZlVpHWjKbbvzXEFviHun  5047500.0  8 2021-03-12 21:19:56  127500.0
3      1uceO2fUwo8z0RwEZ4EsRPszGBM  1430000.0  3 2020-07-21 17:05:13  379000.0
6      1uceOOgefYCmwRYti78qwwgzK7B   145000.0  1 2020-07-01 08:19:52       0.0
7      1uceORUjqBffucDrJhLWcdKGktd   325000.0  1 2020-07-01 08:17:57  325000.0
...                            ...        ... ..                 ...       ...
55170  1ugYnDYzImzOc9X626KULKKEd7X   840000.0  1 2021-06-29 17:16:37       0.0
55171  1ugbLZeYy5mj0uPzrRqvANPujFF  2439250.0  3 2020-11-27 21:38:41  117250.0
55172  1ugfwTP8xyYP1j5nTpwuWMSR6do  3693750.0  4 2021-02-06 20:45:02   26250.0
55173  1ugg3jJiwySJLwLqX9izwZMjNbR   950000.0  2 2021-06-02 10:28:50       0.0
55174  1ujjHhyKxoCPcjXUEtvcT6zJrM1   495000.0  1 2020-08-15 08:59:57       0.0

[50496 rows x 5 columns]